alias: PV Lampe Farbe v1.0.0
description: LSC Moodlight zeigt per Farbe die aktuelle PV-Leistung an
triggers:
  - entity_id: sensor.pv_leistung_gesamt
    for: "00:00:10"
    trigger: state
conditions: []
actions:
  - variables:
      pv: "{{ states('sensor.pv_leistung_gesamt') | float(0) }}"
  - choose:
      - conditions:
          - condition: template
            value_template: "{{ pv < 100 }}"
        sequence:
          - target:
              entity_id: light.lsc_moodlight_rgb_cct
            action: light.turn_off
      - conditions:
          - condition: template
            value_template: "{{ pv >= 100 and pv < 500 }}"
        sequence:
          - target:
              entity_id: light.lsc_moodlight_rgb_cct
            data:
              brightness: 150
              hs_color:
                - 0
                - 100
            action: light.turn_on
      - conditions:
          - condition: template
            value_template: "{{ pv >= 500 and pv < 1500 }}"
        sequence:
          - target:
              entity_id: light.lsc_moodlight_rgb_cct
            data:
              brightness: 180
              hs_color:
                - 30
                - 100
            action: light.turn_on
      - conditions:
          - condition: template
            value_template: "{{ pv >= 1500 and pv < 3000 }}"
        sequence:
          - target:
              entity_id: light.lsc_moodlight_rgb_cct
            data:
              brightness: 220
              hs_color:
                - 60
                - 100
            action: light.turn_on
      - conditions:
          - condition: template
            value_template: "{{ pv >= 3000 }}"
        sequence:
          - target:
              entity_id: light.lsc_moodlight_rgb_cct
            data:
              brightness: 255
              hs_color:
                - 120
                - 100
            action: light.turn_on
  - condition: template
    value_template: "{{ states('sensor.pv_leistung_gesamt') not in ['unknown','unavailable'] }}"
mode: restart
